:root{
    --rfBlueColor: #03283d;
    --rfGrayLigth: #f5f3f3;
    --rfDarkBlue: #001621;
    --rfGray: #c2c2c2;
    --rfBlue: #002437;
    --rfViolet: #5b3243;
    --rfYellowLight: #fbf07c;
    --rfOrange: #f39c14;
    --rfSite: #1c4161;
    --rfHeader: #004669;
    --rfHeaderLight: #235e7c;
    --rfBlueLight: #35708e;
    --rfMenu: #decf7e;
}
body{
    background: var(--rfGrayLigth);
    font-family: 'Rubik', sans-serif;
}
.wrapper{
    background: url('../img/bg/bg.jpg') no-repeat top center / 100%;
}
/* utils */
.btn {
    border-radius: 20px;
    padding: .5rem 1.5rem;
}
    .btn--blue{
        color: white;
        background: var(--rfBlueColor);
        border: 1px solid var(--rfBlueColor);
        text-transform: uppercase;
        font-weight: 500;
        transition: .3s;
    }
        .btn--blue:hover{
            color: var(--rfBlueColor);
            background: white;
            border: 1px solid var(--rfBlueColor);
        }
    .btn-outline-rfblue{
        color: var(--rfBlueColor);
        border: 1px solid var(--rfBlueColor);
        transition: .3s;
    }
    .btn-outline-rfblue:hover{
        background: var(--rfBlueColor);
        color: #eee;
    }
.btn--secondary{
    background-color: var(--rfYellowLight);
    color: var(--rfViolet);
    font-weight: 500;
    text-align: center;
}
/* Header  */
.header{
    color: #dbdbdb;
    background: linear-gradient(var(--rfHeaderLight), var(--rfHeader));
}
    .header__title{
        color: #dbdbdb;
        font-size: .75rem;
        transition: .3s;
    }
        .header__title:hover{
            color: white;
        }
    .header__title--rarus{
        font-weight: 500;
    }

/* Search  */
.search__card{
    background: rgba(255, 255, 255, .90);
    border-radius: 5px;
    color: #2d4d69;
    font-weight: 500;
}
    .search--label{
        text-transform: uppercase;
        font-size: .85rem;
        font-weight: 500;
    }
/* Sites header */
.site__description{
    color: var(--rfSite);
    font-size: 2.5rem;
    font-style: italic;
    text-shadow: 0rem 0rem 2rem white;
}
.banner{
    border-radius: 5px;}
.nav__toggler{
    border-radius: 0px;
    background: #decf7e;
}
    .nav__toggler--icon{
        background-image: url('../img/icons/toggle.svg');
        color: #f5f6f6;
    }

.header__whatsapp{
    display: block;
    background: var(--rfBlueLight);
    position: relative;
    transition: .3s;
}
    .header__whatsapp::before{
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 5px solid var(--rfBlueColor);
        bottom: -5px;
        content: ' ';
        height: 0;
        left: 0;
        margin-left: -20px;
        margin-right: -20px;
        position: absolute;
        right: 0;
    }
    .header__whatsapp::after{
        content: '';
        border-bottom: 5px solid var(--rfBlueLight);
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        transition: .3s;
    }
    .header__whatsapp:hover{
        background-color: var(--rfBlueColor);
    }
    .header__whatsapp:hover:after{
        border-bottom: 5px solid var(--rfBlueColor);
    }
.header__whatsapp a:hover{
    text-decoration: none;
}
.header__whatsapp--online{
    line-height: 1.2;
    color: #3def8a;
    font-weight: 500;
}
.header__whatsapp--desc{
        color: #f2f1f1;
        line-height: .7;
        font-size: .95rem;
    }
.navbar__dropdown{
    border-radius: 0;
    border: none;
    background: #0b415c;
    color: #f5f6f6;
    font-size: .85rem;
    font-weight: 500;
}
    .navbar__dropdown option{
        color: #f5f6f6
    }

.nav__menu{
    background: var(--rfMenu);
}
    .nav__menu a{
        color: white;
        font-size: .85rem;
        font-weight: 500;
        text-transform: uppercase;
        transition: .3s;
    }
    .nav__menu a:hover{
        color: var(--rfDarkBlue);
    }

    .banner{
        border-radius: 5px;
    }  
    .banner--anuncio{
        background-image: url('../img/banners/banner-1.png');
        background-position: center center;
        background-size: cover;
        flex: 0 0 calc(75% - 1rem);
        margin-right: 1rem;
    }
        .banner--anuncio-text{
            color: var(--rfViolet);
        }
    .banner--corretores{
        background: url('../img//banners/banner2.png') no-repeat right, #cae4ec;
        color: #284c58
    }
    .banner--corretores a{
        color: #284c58;
        font-weight: bold;
    }
.call-to-action{
    background: #eeeeee;
    border-radius: 5px;
    color: var(--rfBlueColor);
    font-size: .9rem;
}

    .call-to-action--icon::before{
        background-size: 16px;
        background: url('../img/icons/chat.png') center .01rem no-repeat;
        content: ' ';
        display: inline-flex;
        height: 16px;
        margin: 0 .5rem 0 0;
        transition: .3s;
        width: 16px;
    }
    .call-to-action--button{
        top: 0;
        right: 0;
    }
        .call-to-action--button:hover .call-to-action--icon::before{
            background: url('../img/icons/chat-w.png') center .01rem no-repeat;
            background-size: 16px;
        }

/* Tetimonial  */
.rf__card{
    border-radius: 5px;
    background: white;
    color: var(--rfBlueColor);
}
.flats__images{
    position: relative;
}
    .flats__images--img{
        border-radius: 5px;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
.flats__location{
    background-color: var(--rfBlueColor);
    border-radius: 10px 0 0 10px;
    color: white;
    font-size: .65rem;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 20px;
}

.flats__title{
    width: 100%;
    font-size: 1.3rem;
}
.flats__code{
    line-height: .75;
    font-size: .75rem;
    font-weight: normal;
}
.flats__info{
    font-size: .75rem;
    font-weight: 500;
}
    .flats__info--room-stats{
        font-size: 1.5rem;
    }

    .flats__zone--dist{
        font-size: .75rem;
    }
    .flats__zone--name{
        font-weight: 500;
        font-size: 1rem;
        line-height: 1;
    }
.flats__price{
    color: var(--rfOrange);
    font-size: 1.5rem;
    font-weight: 500;
}
    .flats__price--rent{
        font-size: .85rem;
    }
.testimonial__card--date{
    font-size: .75rem;
    font-weight: 300;
}
.testimonial__card--text{
    font-size: 1.2rem;
    font-style: italic
}

.testimonial__card--author{
    font-size: 1.2rem;
    font-weight: 500;
}

    .splide__arrow{
        width: 200px;
        height: 100px;
        background-color: gold;
        border-top-left-radius: 110px;
        border-top-right-radius: 110px;
        border: 10px solid gray;
        border-bottom: 0;
    }
/* Footer */
.footer{
    background-color: var(--rfBlue);
    color: var(--rfGray);
}
.footer a {
    color: var(--rfGray);
    transition: .5s;
}
.footer a:hover{
    color: var(--rfOrange);
    text-decoration: none;
}
    .footer__phone{
        font-size: 1rem;
    }

    .footer__widget{
        font-size: .90rem;
        font-weight: 500;
    }

    .footer__list li::before{
        content: '>';
        padding-right: .5rem;
    }

    .social{
        align-items: center;
        background-color: white;
        border-radius: 50%;
        display: inline-flex;
        height: 32px;
        justify-content: center;
        width: 32px;
    }
    .social img{
        max-width: 16px;
    }
.copyright{
    background-color: var(--rfDarkBlue);
    font-size: .75rem;
    text-transform: uppercase;
}