:root{
    --rfBlueColor: #f8fcfe;
    --rfGrayLigth: #f5f3f3;
    --rfDarkBlue: #001621;
    --rfGray: #c2c2c2;
    --rfBlue: #002437;
    --rfViolet: #5b3243;
    --rfYellowLight: #fbf07c;
    --rfOrange: #f39c14;
    --rfHeader: #004669;
    --rfHeaderLight: #235e7c;
    --rfBlueColor: #03283d
}
body{
    background-color: var(--rfGrayLigth);
    font-family: 'Rubik', sans-serif;
}
/* utils */
.btn {
    border-radius: 20px;
    padding: .5rem 1.5rem;
}
    .btn-outline-rfblue{
        color: var(--rfBlueColor);
        border: 1px solid var(--rfBlueColor);
        transition: .3s;
    }
    .btn-outline-rfblue:hover{
        background: var(--rfBlueColor);
        color: #eee;
    }
.btn--secondary{
    background-color: var(--rfYellowLight);
    color: var(--rfViolet);
    font-weight: 500;
    text-align: center;
}
/* Header  */
.header{
    color: #dbdbdb;
    background: linear-gradient(var(--rfHeaderLight), var(--rfHeader));
}
    .header__title{
        color: #dbdbdb;
        font-size: .75rem;
        transition: .3s;
    }
        .header__title:hover{
            color: white;
        }
    .header__title--rarus{
        font-weight: 500;
    }

.nav__toggler{
    border-radius: 0px;
    background: #decf7e;
}
    .nav__toggler--icon{
        background-image: url('../img/icons/toggle.svg');
        color: #f5f6f6;
    }
.navbar__dropdown{
    border-radius: 0;
    border: none;
    background: #0b415c;
    color: #f5f6f6;
}
    .navbar__dropdown option{
        color: #f5f6f6
    }
    .navbar__dropdown option[value="por"]{background-image: url('../img/icons/por.png');}
    .navbar__dropdown option[value="ing"]{background-image: url('../img/icons/usa.png');}
    .navbar__dropdown option[value="esp"]{background-image: url('../img/icons/esp.png');}
.banner{
    border-radius: 5px;
}
    .banner--anuncio{
        background-image: url('../img/banners/banner-1.png');
        background-position: center center;
        background-size: cover;
        flex: 0 0 calc(75% - 1rem);
        margin-right: 1rem;
    }
        .banner--anuncio-text{
            color: var(--rfViolet);
        }
    .banner--corretores{
        background: url('../img//banners/banner2.png') no-repeat right, #cae4ec;
        color: #284c58
    }
    .banner--corretores a{
        color: #284c58;
        font-weight: bold;
    }
.call-to-action{
    background: #eeeeee;
    border-radius: 5px;
    color: var(--rfBlueColor);
    font-size: .9rem;
}

    .call-to-action--icon::before{
        
        content: ' ';
        background: url('../img/icons/chat.png') center .01rem no-repeat;
        background-size: 16px;
        width: 16px;
        height: 16px;
        display: inline-flex;
        margin: 0 .5rem 0 0;
        transition: .3s;
    }
    .call-to-action--button{
        top: 0;
        right: 0;
    }
        .call-to-action--button:hover .call-to-action--icon::before{
            background: url('../img/icons/chat-w.png') center .01rem no-repeat;
            background-size: 16px;
        }
/* Footer */
.footer{
    background-color: var(--rfBlue);
    color: var(--rfGray);
}
.footer a {
    color: var(--rfGray);
    transition: .5s;
}
.footer a:hover{
    color: var(--rfOrange);
    text-decoration: none;
}
    .footer__phone{
        font-size: 1rem;
    }

    .footer__widget{
        font-size: .90rem;
        font-weight: 500;
    }

    .footer__list li::before{
        content: '>';
        padding-right: .5rem;
    }

    .social{
        align-items: center;
        background-color: white;
        border-radius: 50%;
        display: inline-flex;
        height: 32px;
        justify-content: center;
        width: 32px;
    }
    .social img{
        max-width: 16px;
    }
.copyright{
    background-color: var(--rfDarkBlue);
    font-size: .75rem;
    text-transform: uppercase;
}